@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Pangolin&family=Permanent+Marker&display=swap');
/*  font-family: 'Balsamiq Sans', cursive;
    font-family: 'Pangolin', cursive;
    font-family: 'Permanent Marker', cursive;*/

body {
    background-image: url(img/gremlins_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #24234b;
    font-family: 'Pangolin', cursive;
}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: crimson;
    font-size: 300%;
    text-align: center;
}

h2 {
    color: midnightblue;
    font-size: 200%;
}

p {
    font-size: 120%;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    display: flexbox;
    /* padding: 0px; */
}

#instructions, #game, #endscreen {
    background-color: rgba(189, 183, 107, 0.8);
    background-blend-mode: lighten;
    border: 2px solid #ddd;
    border-radius: 20px ;
    padding: 10px 30px;
    text-align: center;
}

#play {
    background-color: palegreen;
    border: 2px solid #111;
    border-radius: 20px;
    padding: 10px;
    min-width: 200px;
    margin: 20px;
}

#game, #endscreen {
    display: none; 
}

.game_container {
    display: flex;
    justify-content: space-around;
}

#gizmo img {
    border: 2px solid #111;
    border-radius: 20px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#health_block, #happiness_block {
    align-items: center;
    background-color: paleturquoise;
    padding: 8px;
    border: 2px solid #111;
    border-radius: 14px;
    margin: 10px 0px 40px;
    min-width: 150px;
}

button {
    font-size: 130%;
}

/* $btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

.options {
    $btn-color: random-color($max:200);
    $btn-color-dark: shade($btn-color, 40%);
      color: tint($btn-color);
    
    span {
      @include absolute();
      display: block;
      @include size(0);
      border-radius: 50%;
      background-color: $btn-color-dark;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    
    &:hover {
      color: tint($btn-color, 75%);
      
      span {
        @include size(225%, $btn-width*2.25);
      }
    }
    
    &:active {
      background-color: $btn-color;
    }
  } */